@import 'base/config';
@import 'base/typography';
@import 'base/utils';

#terms-of-service-card{
	margin: 10px;
	.section-title{
		font-family: OpenSans-SemiboldItalic;
		font-style: italic;
		font-size:16px;
		text-decoration: underline;
		margin-bottom: 20px;
	}

	.terms-title{
		font-family: OpenSans-Bold;
		text-decoration: underline;
		font-size:20px;
	}

	p{
		margin-bottom:20px;
		text-align:justify;
	}

	ul{
		margin-left:5%;
		li{
			margin-bottom:5px;
		}
	}
}

#copyright-policy-card{
	
	margin: 10px;

	.section-title{
		font-family: OpenSans-SemiboldItalic;
		font-style: italic;
		font-size:16px;
		text-decoration: underline;
		margin-bottom: 20px;
	}

	.terms-title{
		font-family: OpenSans-Bold;
		text-decoration: underline;
		font-size:20px;
	}

	p{
		margin-bottom:20px;
		text-align:justify;
	}

	ul{
		margin-left:5%;
		li{
			margin-bottom:5px;
		}
	}
}

#about-us-card{
	.about-title{
		font-family: OpenSans-Bold;
		font-size:24px;
	}
	.section-title{
		font-family: OpenSans-SemiBold;
		font-size:16px;
		margin-bottom: 20px;
	}
	.sub-section-title{
		font-family: OpenSans-Italic;
		font-size:14px;
		text-decoration:italic;
		margin-bottom: 20px;
	}
	p{
		margin-bottom:20px;
		text-align:justify;
	}
}

#faq-card{
	.faq-title{
		font-family: OpenSans-Bold;
		font-size:24px;
	}
	.section-title{
		font-family: OpenSans-SemiBold;
		font-size:16px;
		margin-bottom: 20px;
	}
	.sub-section-title{
		font-family: OpenSans-Italic;
		font-size:14px;
		text-decoration:italic;
		margin-bottom: 20px;
	}
	p{
		margin-bottom:20px;
		text-align:justify;
	}
}

#legal-navigation{
	background-color: $brand-color-2;
	margin: 0;
	border: 0;
	border-radius: 0;

	div{
		a.brand-logo.center {
			width: 30%;
			div > i.material-icons{
				display: none;
			}
			div{
				margin-top: .7em;
				label{
					margin-top: -1em;
					i{
						color: #aaa !important;
						font-size: 1.8em;
					}
				}
			}
			
			#main-navigation-search-input{

				padding-top: .8em;
				padding-bottom: .8em;
				font-size: .9em;
				color: #aaa;
				border-radius: .2em;
				background-color: #fff !important;
				line-height: normal; //fix for overlap search bar on firefox and safari
			}

		}

	}
	.nav-side-bar{
		width: 100px;
	}

	.nav-icon{
		height: 20px;
		width: 20px;
	}

	.brand-logo{
		font-size: 1.25rem;

		*{
			vertical-align: middle;
		}
	}

	.brand-logo-icon{
		height: 30px;
		width: 30px;
		text-align:center;
		margin-right: 10px;
		margin-left: 40px;

		@media only screen and (min-width : 993px) {
			margin-left: 25px;
		}
	}

	.hamburger-icon{
		margin-left: 10px;
	}

	.dropdown-icon{
		height: 1rem;
	}

	#nav-profile-pic{
		width: 30px;
		height: 30px;
	}
}

.page-nav-btn{
	margin:10px; 
	background-color: #F7F7F7;
	color: #333;
	font-family: "OpenSans-SemiBold";

	*{
		vertical-align: middle;
	}
}

.page-nav-btn:hover, .page-nav-btn:focus{
	background-color: lighten(#F7F7F7, 10%);
	color: #333;
}

.static-link{
	color:#fff;
}