// Brand colors

$brand-color-1: #534d93; //violet
$brand-color-2: #4c4688; //violet
$brand-color-3: #272442; //violet


// Secondary colors

$secondary-color-1: #46bfa7; //green
$secondary-color-2: #ef6b24; //orange

// Base colors

$base-color-1: #f6f6f6; //white
$base-color-2: #f7f4ee; //white
$base-color-3: #f4f4f4; //gray

// Button colors

$button-color-1: #534d93; //violet
$button-color-2: #46bfa7; //green
$button-color-3: #ef6b24; //orange
$button-color-4: #E54C65; //orange

// Border colors

$border-color-1: #7f7f7f; //gray
$border-color-2: #eaebeb; //gray

// Separator colors

$separator-color-1: #e4e4e4; //white

//Font Colors

$inactive-font-color : #7f7f7f; //gray
