.input-row {
	margin-bottom: 0% !important;
}
.date-input{
	border: solid 1px grey !important;
	color: black !important;
}

.time-label{
	color: black !important;
}

/* Request Form Field Label Font color */
div.input-row:nth-child(4) > div:nth-child(1) > label:nth-child(2),
div.input-row:nth-child(5) > div:nth-child(1) > label:nth-child(2),
#start-date,
#end-date {
	color: #fff !important;
}


#map-canvas {
	margin: 0;
	padding: 0;
	height: 1100px;
	max-width: none;
}
#map-canvas img {
	max-width: none !important;
}
.gm-style-iw {
	width: 350px !important;
	top: 15px !important;
	left: 0px !important;
	background-color: #fff;
	box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
	border: 1px solid rgba(72, 181, 233, 0.6);
	border-radius: 2px 2px 10px 10px;
}
.gm-style-iw div{
	width: 100% !important;
}
#iw-container {
	margin-bottom: 10px;
}

#iw-container .iw-title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
	font-weight: 400;
	padding: 10px;
	background-color: #48b5e9;
	color: white;
	margin: 0;
	border-radius: 2px 2px 0 0;
}
#iw-container .iw-content {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	margin-right: 1px;
	padding: 15px 5px 20px 15px;
	max-height: 140px;
	overflow-y: auto;
	overflow-x: hidden;
}
.iw-content img {
	float: right;
	margin: 0 5px 5px 10px;
}
.iw-subTitle {
	font-size: 16px;
	font-weight: 700;
	padding: 5px 0;
}
.iw-bottom-gradient {
	position: absolute;
	width: 326px;
	height: 25px;
	bottom: 10px;
	right: 18px;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

#main-navigation-2 #menu-bar {
	margin-left: 15% !important;
}

#chart-container {
	text-align: center;
	padding-bottom: 50px;
}

.chart-container-top {
	height: 66px;
}

g.raphael-group-7-background rect{
	fill: #1a1a1c;
}

span#chartobject-1.fusioncharts-container svg#raphael-paper-5{
	border-radius: 20px !important;
}


.select-wrapper input.select-dropdown {
}

.select-wrapper span.caret {
}

.custom-select {
  position: relative;
  font-family: Arial;
  margin: auto;
}
.custom-select select {
  display: none; /*hide original SELECT element:*/
}
.select-selected {
  background-color: DodgerBlue;
}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  border-radius: 10px;
  user-select: none;
}
/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.filter-artist{
	margin-top: 26px;
	margin-bottom: 10px;
}

.radius-filter {
	margin-top: 30px;
}

.radius-filter .row {
	margin-bottom: 0px;
}

.white-color {
	color: white !important;
}

#conversation-list .collection-item {
	background: black;
}

.profile-panel {
	background-color: rgba(26, 26, 28, 1.0);
	border-radius: 2em;
	border: 2px solid #7a7a7a;
	margin-top: 20px;
	min-height: 310px !important;
	padding: 31px !important;
}

.profile-title {
	background-color: rgba(255,255,255,0.0);
    margin: 0;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-family: "OpenSans-SemiBold", Helvetica, Arial, serif;
    font-size: 17.0px;
    color: rgba(254, 255, 254, 1.0) !important;
    text-align: left;
    line-height: 23.0px;
}

.profile-description {
	background-color: rgba(255,255,255,0.0);
    margin: 0;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-family: "Open Sans", Helvetica, Arial, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14.0px;
    color: rgba(254, 255, 254, 1.0);
    text-align: left;
    line-height: 19.0px;
    margin-top: 7px !important;
}

.property-section {
	margin-bottom: 5px !important;
}

/*social links***************************/

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
	background-color: #000000;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.input-field input {
	padding-left: 3% !important;
	border-radius: 10px !important;
}

.input-field label {
	margin-bottom: 3px !important;
	font-size: 14px !important;
}

.social-section-profile-setting .input-field {
	margin-bottom: 18px;
}

.settings-about textarea{
    width: 94% !important;
    border-radius: 16px !important;
    height: 115.6px !important;
    padding: 5px;
    text-align: left !important;
}

.settings-about-venue textarea{
    width: 94% !important;
    border-radius: 16px !important;
    height: 173.6px !important;
    padding: 5px;
    text-align: left !important;
}

.age-setting-artist-profile .s6 {
	margin-left: 18px !important;
}

.addMeterials {
	font-size: 50px;
	color: white;
}

.material-upload audio {
	width: 200px !important;
}
.song-file-container {
	width: 20% !important;
}

#media .fa-trash {
	color: white;
	font-size: 23px;
	margin-left: 69%;
}

#media .fa-trash:hover {
	color: red;
	font-size: 26px;
}

#songs-container .fa-trash {
	color: white;
	font-size: 23px;
	margin-left: 89%;
}

#songs-container .fa-trash:hover {
	color: red;
	font-size: 26px;
}

.progress {
	display: none;
}

#venu-profile-setting-panel .input-field {
	width: 85%;
}

.profile-picture .input-field {
	width: 30% !important;
	cursor: pointer;
}

.k-timepicker {
	width: 103%;
}

#ui-datepicker-div {
	z-index: 10000 !important;
}

.ui-datepicker {
	z-index: 10000 !important;
}

.payment-input-field .input-field input {
	color: white;
}

#settings-container .input-field input {
	color: white;
}
/****************************************/
/*.input-row .input-field input{
	border: solid 1px !important;
}*/
/*label{margin-left: 20px;}
#start-date{width:180px; margin: 0 20px 20px 20px;}
#start-date > span:hover{cursor: pointer;}*/
