@font-face {
  font-family : "OpenSans-Bold";
  src         : url(../fonts/open-sans/OpenSans-Bold.ttf);
}

@font-face {
  font-family : "OpenSans-BoldItalic";
  src         : url(../fonts/open-sans/OpenSans-BoldItalic.ttf);
}

@font-face {
  font-family : "OpenSans-ExtraBold";
  src         : url(../fonts/open-sans/OpenSans-ExtraBold.ttf);
}

@font-face {
  font-family : "OpenSans-ExtraBoldItalic";
  src         : url(../fonts/open-sans/OpenSans-ExtraBoldItalic.ttf);
}

@font-face {
  font-family : "OpenSans-Italic";
  src         : url(../fonts/open-sans/OpenSans-Italic.ttf);
}

@font-face {
  font-family : "OpenSans-Light";
  src         : url(../fonts/open-sans/OpenSans-Light.ttf);
}

@font-face {
  font-family : "OpenSans-LightItalic";
  src         : url(../fonts/open-sans/OpenSans-LightItalic.ttf);
}

@font-face {
  font-family : "OpenSans-Regular";
  src         : url(../fonts/open-sans/OpenSans-Regular.ttf);
}

@font-face {
  font-family : "OpenSans-Semibold";
  src         : url(../fonts/open-sans/OpenSans-Semibold.ttf);
}

@font-face {
  font-family : "OpenSans-SemiboldItalic";
  src         : url(../fonts/open-sans/OpenSans-SemiboldItalic.ttf);
}

.ourscene-btn-1 {
  color            : #FFF;
  background-color : rgba(26,120,246,1.0);
  border-radius: 10px;
}

.ourscene-btn-1:focus,
.ourscene-btn-1:hover {
  color            : #FFF;
  background-color : rgba(26,120,246,1.0);
  border-radius: 10px;
}

.ourscene-btn-2 {
  color            : #FFF;
  background-color : #46bfa7;
}

.ourscene-btn-3 {
  color            : #FFF;
  background-color : #ef6b24;
}

.ourscene-btn-3:focus,
.ourscene-btn-3:hover {
  color            : #FFF;
  background-color : #d1530f;
}

.ourscene-btn-4 {
  color            : #FFF;
  background-color : #E54C65;
}

.ourscene-btn-4:focus,
.ourscene-btn-4:hover {
  color            : #FFF;
  background-color : #de203f;
}

.ourscene-btn-plain-1 {
  color            : #534d93;
  background-color : transparent;
  box-shadow       : none;
}

.ourscene-btn-plain-1:focus,
.ourscene-btn-plain-1:hover {
  color            : #534d93;
  background-color : transparent;
  box-shadow       : none;
}

.btn-group {
  display        : inline-block;
  position       : relative;
  vertical-align : middle;
}

.btn-group .btn {
  float         : left;
  border        : 1px solid #e4e4e4;
  border-radius : 0;
  box-shadow    : none;
}

.btn-group .btn:first-child {
  border-top-left-radius    : 4px;
  border-bottom-left-radius : 4px;
}

.btn-group .btn:last-child {
  border-top-right-radius    : 4px;
  border-bottom-right-radius : 4px;
}

.btn-group .btn:not(:last-child) {
  border-right : 0;
}

.ourscene-link-1 {
  margin-right    : 0 !important;
  color           : #534d93 !important;
  text-align      : center;
  text-decoration : underline;
  text-transform  : none !important;
}

.ourscene-link-1 :hover {
  color           : #534d93 !important;
  text-decoration : underline;
  text-transform  : none !important;
}

.required-color {
  color : red;
}

.confirm-color {
  color : #46bfa7;
}

.reject-color {
  color : #ef6b24;
}

.cancel-color {
  color : #ef6b24;
}

.border-color-1 {
  color : #7f7f7f;
}

.ourscene-label-1 {
  color       : #333;
  font-family : "OpenSans-SemiBold";
  font-size   : 1rem;
}

.circular-img-container {
  display               : inline-block;
  width                 : 50px;
  height                : 50px;
  border                : 1px solid #e4e4e4;
  -moz-border-radius    : 150px;
  -webkit-border-radius : 150px;
  border-radius         : 150px;
  background-repeat     : no-repeat;
  background-size       : cover;
}

@media
  only screen
  and (min-width : 993px) {
  .circular-img-container {
    width  : 90px;
    height : 90px;
  }
}

.ourscene-modal-title-1 {
  margin-bottom : 20px;
  color         : #534d93;
  font-size     : 1.5rem;
}

.ourscene-card-1 {
  max-width : 250px;
  margin    : 0 auto;
}

.ourscene-card-1 .card {
  margin-bottom : 0;
}

.ourscene-card-1 .card-content {
  padding : 0;
}

.ourscene-card-1 .card-action {
  padding : 10px;
}

.ourscene-card-1 .profile-pic-container {
  padding : 35px 0;
}

.ourscene-card-1 .profile-pic {
  display : block;
  width   : 80px;
  height  : 80px;
  margin  : 0 auto;
}

.ourscene-card-1 .action-container a {
  display   : block;
  font-size : 0.8rem;
}

.ourscene-card-1 .action-container .action-series {
  padding : 10px 0;
}

.ourscene-card-1 .action-container .col {
  padding : 0 5px;
}

.ourscene-card-1 .action-container .col:first-child {
  padding-left : 0;
}

.ourscene-card-1 .action-container .col:last-child {
  padding-right : 0;
}

.text-container-ellipsis {
  overflow      : hidden;
  text-overflow : ellipsis;
  white-space   : nowrap;
}

.normal-weight {
  font-family : "OpenSans-Regular";
}

.light-weight {
  font-family : "OpenSans-Light";
}

.bold-weight {
  font-family : "OpenSans-SemiBold";
}

.l-display-only {
  display : none;
}

@media
  only screen
  and (min-width : 993px) {
  .l-display-only {
    display : block;
  }
}

@media
  only screen
  and (min-width : 993px) {
  .l-no-display {
    display : none;
  }
}

.visible {
  visibility : visible;
}

.invisible {
  visibility : hidden;
}

.no-cursor {
  cursor : none;
}

.success-field {
  margin           : 10px 0;
  padding          : 5px;
  color            : #FFF;
  background-color : rgba(26,120,246,1.0);
  font-family      : "OpenSans-Light";
}

.error-field {
  margin           : 10px 0;
  padding          : 5px;
  color            : #FFF;
  background-color : #F06D71;
  font-family      : "OpenSans-Light";
}

.warning-field {
  margin           : 10px 0;
  padding          : 5px;
  color            : #FFF;
  background-color : #ff7518;
  font-family      : "OpenSans-Light";
}

.ourscene-calendar .fc-divider,
.ourscene-calendar .fc-popover,
.ourscene-calendar .fc-row,
.ourscene-calendar tbody,
.ourscene-calendar td,
.ourscene-calendar th,
.ourscene-calendar thead {
  color        : #7A7A7A;
  border-color : #e4e4e4;
}

.ourscene-calendar thead td,
.ourscene-calendar thead th {
  border-color  : transparent;
  border-bottom : #e4e4e4;
}

.ourscene-calendar thead th {
  padding     : 2px;
  text-align  : left;
  font-family : "OpenSans-SemiBold";
  font-size   : 0.8rem;
}

@media
  only screen
  and (min-width : 993px) {
  .ourscene-calendar thead th {
    padding   : 5px;
    font-size : 1.2rem;
  }
}

.search-dropdown {
  line-height : initial;
}

.search-dropdown .search-divider {
  display          : inline-block;
  width            : 100%;
  color            : #aaa;
  background-color : #efefef;
  text-align       : center;
  font-family      : "OpenSans-Regular" !important;
  font-size        : 0.9rem !important;
  line-height      : initial;
}

.search-dropdown .search-divider a {
  display : block;
  color   : #aaa;
}

.search-dropdown .view-all-search {
  display        : inline-block;
  width          : 100%;
  padding-top    : .8em;
  padding-bottom : .8em;
  color          : #aaa;
  text-align     : center;
  font-size      : 1em;
  font-weight    : bold;
}

.search-dropdown li {
  font-family : "OpenSans-Regular" !important;
}

.search-dropdown li a {
  padding        : 5px 15px 0;
  color          : #46bfa7 !important;
  text-transform : none !important;
  font-size      : 14px;
  font-weight    : 100;
}

.search-dropdown li div {
  height    : auto;
  padding   : 0 15px 5px;
  color     : #aaa;
  font-size : 10px;
}

.search-dropdown li div i {
  display     : inline-block;
  height      : 100%;
  margin      : 0 0.3rem;
  font-size   : 10px;
  line-height : 0;
}

ul.pagination {
  float : right;
}

ul.pagination li.active {
  color            : #FFF;
  background-color : #534d93;
}

.progress {
  background-color : #4c4688;
}

.progress .indeterminate {
  background-color : #a09bcc;
}

.registration-txtbx-1 {
  border        : none;
  border-bottom : gray 1px solid;
  border-radius : 0px;
  outline       : none;
  box-shadow    : none;
}

input:focus {
  border     : none;
  outline    : none;
  box-shadow : none;
}

.full-width {
  width : 100%;
}

.center-element-vertically {
  position  : relative;
  top       : 50%;
  transform : translateY(-50%);
}

#terms-of-service-card {
  margin : 10px;
}

#terms-of-service-card .section-title {
  margin-bottom   : 20px;
  text-decoration : underline;
  font-family     : OpenSans-SemiboldItalic;
  font-size       : 16px;
  font-style      : italic;
}

#terms-of-service-card .terms-title {
  text-decoration : underline;
  font-family     : OpenSans-Bold;
  font-size       : 20px;
}

#terms-of-service-card p {
  margin-bottom : 20px;
  text-align    : justify;
}

#terms-of-service-card ul {
  margin-left : 5%;
}

#terms-of-service-card ul li {
  margin-bottom : 5px;
}

#copyright-policy-card {
  margin : 10px;
}

#copyright-policy-card .section-title {
  margin-bottom   : 20px;
  text-decoration : underline;
  font-family     : OpenSans-SemiboldItalic;
  font-size       : 16px;
  font-style      : italic;
}

#copyright-policy-card .terms-title {
  text-decoration : underline;
  font-family     : OpenSans-Bold;
  font-size       : 20px;
}

#copyright-policy-card p {
  margin-bottom : 20px;
  text-align    : justify;
}

#copyright-policy-card ul {
  margin-left : 5%;
}

#copyright-policy-card ul li {
  margin-bottom : 5px;
}

#about-us-card .about-title {
  font-family : OpenSans-Bold;
  font-size   : 24px;
}

#about-us-card .section-title {
  margin-bottom : 20px;
  font-family   : OpenSans-SemiBold;
  font-size     : 16px;
}

#about-us-card .sub-section-title {
  margin-bottom   : 20px;
  text-decoration : italic;
  font-family     : OpenSans-Italic;
  font-size       : 14px;
}

#about-us-card p {
  margin-bottom : 20px;
  text-align    : justify;
}

#faq-card .faq-title {
  font-family : OpenSans-Bold;
  font-size   : 24px;
}

#faq-card .section-title {
  margin-bottom : 20px;
  font-family   : OpenSans-SemiBold;
  font-size     : 16px;
}

#faq-card .sub-section-title {
  margin-bottom   : 20px;
  text-decoration : italic;
  font-family     : OpenSans-Italic;
  font-size       : 14px;
}

#faq-card p {
  margin-bottom : 20px;
  text-align    : justify;
}

#legal-navigation {
  margin           : 0;
  border           : 0;
  border-radius    : 0;
  background-color : #4c4688;
}

#legal-navigation div a.brand-logo.center {
  width : 30%;
}

#legal-navigation div a.brand-logo.center div>i.material-icons {
  display : none;
}

#legal-navigation div a.brand-logo.center div {
  margin-top : .7em;
}

#legal-navigation div a.brand-logo.center div label {
  margin-top : -1em;
}

#legal-navigation div a.brand-logo.center div label i {
  color     : #aaa !important;
  font-size : 1.8em;
}

#legal-navigation div a.brand-logo.center #main-navigation-search-input {
  padding-top      : .8em;
  padding-bottom   : .8em;
  color            : #aaa;
  border-radius    : .2em;
  background-color : #fff !important;
  font-size        : .9em;
  line-height      : normal;
}

#legal-navigation .nav-side-bar {
  width : 100px;
}

#legal-navigation .nav-icon {
  width  : 20px;
  height : 20px;
}

#legal-navigation .brand-logo {
  font-size : 1.25rem;
}

#legal-navigation .brand-logo * {
  vertical-align : middle;
}

#legal-navigation .brand-logo-icon {
  width        : 30px;
  height       : 30px;
  margin-right : 10px;
  margin-left  : 40px;
  text-align   : center;
}

@media
  only screen
  and (min-width : 993px) {
  #legal-navigation .brand-logo-icon {
    margin-left : 25px;
  }
}

#legal-navigation .hamburger-icon {
  margin-left : 10px;
}

#legal-navigation .dropdown-icon {
  height : 1rem;
}

#legal-navigation #nav-profile-pic {
  width  : 30px;
  height : 30px;
}

.page-nav-btn {
  margin           : 10px;
  color            : #333;
  background-color : #F7F7F7;
  font-family      : "OpenSans-SemiBold";
}

.page-nav-btn * {
  vertical-align : middle;
}

.page-nav-btn:focus,
.page-nav-btn:hover {
  color            : #333;
  background-color : #fff;
}

.static-link {
  color : #fff;
}
