@font-face {
  font-family : "OpenSans-Bold";
  src         : url(../fonts/open-sans/OpenSans-Bold.ttf);
}

@font-face {
  font-family : "OpenSans-BoldItalic";
  src         : url(../fonts/open-sans/OpenSans-BoldItalic.ttf);
}

@font-face {
  font-family : "OpenSans-ExtraBold";
  src         : url(../fonts/open-sans/OpenSans-ExtraBold.ttf);
}

@font-face {
  font-family : "OpenSans-ExtraBoldItalic";
  src         : url(../fonts/open-sans/OpenSans-ExtraBoldItalic.ttf);
}

@font-face {
  font-family : "OpenSans-Italic";
  src         : url(../fonts/open-sans/OpenSans-Italic.ttf);
}

@font-face {
  font-family : "OpenSans-Light";
  src         : url(../fonts/open-sans/OpenSans-Light.ttf);
}

@font-face {
  font-family : "OpenSans-LightItalic";
  src         : url(../fonts/open-sans/OpenSans-LightItalic.ttf);
}

@font-face {
  font-family : "OpenSans-Regular";
  src         : url(../fonts/open-sans/OpenSans-Regular.ttf);
}

@font-face {
  font-family : "OpenSans-Semibold";
  src         : url(../fonts/open-sans/OpenSans-Semibold.ttf);
}

@font-face {
  font-family : "OpenSans-SemiboldItalic";
  src         : url(../fonts/open-sans/OpenSans-SemiboldItalic.ttf);
}

.ourscene-btn-1 {
  color            : #FFF;
  background-color : rgba(26,120,246,1.0);
}

.ourscene-btn-1:focus,
.ourscene-btn-1:hover {
  color            : #FFF;
  background-color : #6b65ae;
}

.ourscene-btn-2 {
  color            : #FFF;
  background-color : #46bfa7;
}

.ourscene-btn-3 {
  color            : #FFF;
  background-color : #ef6b24;
}

.ourscene-btn-3:focus,
.ourscene-btn-3:hover {
  color            : #FFF;
  background-color : #d1530f;
}

.ourscene-btn-4 {
  color            : #FFF;
  background-color : #E54C65;
}

.ourscene-btn-4:focus,
.ourscene-btn-4:hover {
  color            : #FFF;
  background-color : #de203f;
}

.ourscene-btn-plain-1 {
  color            : #534d93;
  background-color : transparent;
  box-shadow       : none;
}

.ourscene-btn-plain-1:focus,
.ourscene-btn-plain-1:hover {
  color            : #534d93;
  background-color : transparent;
  box-shadow       : none;
}

.btn-group {
  display        : inline-block;
  position       : relative;
  vertical-align : middle;
}

.btn-group .btn {
  float         : left;
  border        : 1px solid #e4e4e4;
  border-radius : 0;
  box-shadow    : none;
}

.btn-group .btn:first-child {
  border-top-left-radius    : 4px;
  border-bottom-left-radius : 4px;
}

.btn-group .btn:last-child {
  border-top-right-radius    : 4px;
  border-bottom-right-radius : 4px;
}

.btn-group .btn:not(:last-child) {
  border-right : 0;
}

.ourscene-link-1 {
  margin-right    : 0 !important;
  color           : #534d93 !important;
  text-align      : center;
  text-decoration : underline;
  text-transform  : none !important;
}

.ourscene-link-1 :hover {
  color           : #534d93 !important;
  text-decoration : underline;
  text-transform  : none !important;
}

.required-color {
  color : red;
}

.confirm-color {
  color : #46bfa7;
}

.reject-color {
  color : #ef6b24;
}

.cancel-color {
  color : #ef6b24;
}

.border-color-1 {
  color : #7f7f7f;
}

.ourscene-label-1 {
  color       : #333;
  font-family : "OpenSans-SemiBold";
  font-size   : 1rem;
}

.circular-img-container {
  display               : inline-block;
  width                 : 50px;
  height                : 50px;
  border                : 1px solid #e4e4e4;
  -moz-border-radius    : 150px;
  -webkit-border-radius : 150px;
  border-radius         : 150px;
  background-repeat     : no-repeat;
  background-size       : cover;
}

@media
  only screen
  and (min-width : 993px) {
  .circular-img-container {
    width  : 90px;
    height : 90px;
  }
}

.ourscene-modal-title-1 {
  margin-bottom : 20px;
  color         : #534d93;
  font-size     : 1.5rem;
}

.ourscene-card-1 {
  max-width : 250px;
  margin    : 0 auto;
}

.ourscene-card-1 .card {
  margin-bottom : 0;
}

.ourscene-card-1 .card-content {
  padding : 0;
}

.ourscene-card-1 .card-action {
  padding : 10px;
}

.ourscene-card-1 .profile-pic-container {
  padding : 35px 0;
}

.ourscene-card-1 .profile-pic {
  display : block;
  width   : 80px;
  height  : 80px;
  margin  : 0 auto;
}

.ourscene-card-1 .action-container a {
  display   : block;
  font-size : 0.8rem;
}

.ourscene-card-1 .action-container .action-series {
  padding : 10px 0;
}

.ourscene-card-1 .action-container .col {
  padding : 0 5px;
}

.ourscene-card-1 .action-container .col:first-child {
  padding-left : 0;
}

.ourscene-card-1 .action-container .col:last-child {
  padding-right : 0;
}

.text-container-ellipsis {
  overflow      : hidden;
  text-overflow : ellipsis;
  white-space   : nowrap;
}

.normal-weight {
  font-family : "OpenSans-Regular";
}

.light-weight {
  font-family : "OpenSans-Light";
}

.bold-weight {
  font-family : "OpenSans-SemiBold";
}

.l-display-only {
  display : none;
}

@media
  only screen
  and (min-width : 993px) {
  .l-display-only {
    display : block;
  }
}

@media
  only screen
  and (min-width : 993px) {
  .l-no-display {
    display : none;
  }
}

.visible {
  visibility : visible;
}

.invisible {
  visibility : hidden;
}

.no-cursor {
  cursor : none;
}

.success-field {
  margin           : 10px 0;
  padding          : 5px;
  color            : #FFF;
  background-color : #46bfa7;
  font-family      : "OpenSans-Light";
}

.error-field {
  margin           : 10px 0;
  padding          : 5px;
  color            : #FFF;
  background-color : #F06D71;
  font-family      : "OpenSans-Light";
}

.warning-field {
  margin           : 10px 0;
  padding          : 5px;
  color            : #FFF;
  background-color : #ff7518;
  font-family      : "OpenSans-Light";
}

.ourscene-calendar .fc-divider,
.ourscene-calendar .fc-popover,
.ourscene-calendar .fc-row,
.ourscene-calendar tbody,
.ourscene-calendar td,
.ourscene-calendar th,
.ourscene-calendar thead {
  color        : #7A7A7A;
  border-color : #e4e4e4;
}

.ourscene-calendar thead td,
.ourscene-calendar thead th {
  border-color  : transparent;
  border-bottom : #e4e4e4;
}

.ourscene-calendar thead th {
  padding     : 2px;
  text-align  : left;
  font-family : "OpenSans-SemiBold";
  font-size   : 0.8rem;
}

@media
  only screen
  and (min-width : 993px) {
  .ourscene-calendar thead th {
    padding   : 5px;
    font-size : 1.2rem;
  }
}

.search-dropdown {
  line-height : initial;
}

.search-dropdown .search-divider {
  display          : inline-block;
  width            : 100%;
  color            : #aaa;
  background-color : #efefef;
  text-align       : center;
  font-family      : "OpenSans-Regular" !important;
  font-size        : 0.9rem !important;
  line-height      : initial;
}

.search-dropdown .search-divider a {
  display : block;
  color   : #aaa;
}

.search-dropdown .view-all-search {
  display        : inline-block;
  width          : 100%;
  padding-top    : .8em;
  padding-bottom : .8em;
  color          : #aaa;
  text-align     : center;
  font-size      : 1em;
  font-weight    : bold;
}

.search-dropdown li {
  font-family : "OpenSans-Regular" !important;
}

.search-dropdown li a {
  padding        : 5px 15px 0;
  color          : #46bfa7 !important;
  text-transform : none !important;
  font-size      : 14px;
  font-weight    : 100;
}

.search-dropdown li div {
  height    : auto;
  padding   : 0 15px 5px;
  color     : #aaa;
  font-size : 10px;
}

.search-dropdown li div i {
  display     : inline-block;
  height      : 100%;
  margin      : 0 0.3rem;
  font-size   : 10px;
  line-height : 0;
}

ul.pagination {
  float : right;
}

ul.pagination li.active {
  color            : #FFF;
  background-color : #534d93;
}

.progress {
  background-color : #4c4688;
}

.progress .indeterminate {
  background-color : #a09bcc;
}

.registration-txtbx-1 {
  border        : none;
  border-bottom : gray 1px solid;
  border-radius : 0px;
  outline       : none;
  box-shadow    : none;
}

input:focus {
  border     : none;
  outline    : none;
  box-shadow : none;
}

.full-width {
  width : 100%;
}

.center-element-vertically {
  position  : relative;
  top       : 50%;
  transform : translateY(-50%);
}

html {
  height    : 100%;
  font-size : 12px;
}

@media
  only screen
  and (min-width : 768px) {
  html {
    font-size : 12px;
  }
}

body {
  width       : 100%;
  height      : 85%;
  font-family : "OpenSans-Regular";
}

@media
  only screen
  and (min-width : 768px) {
  body {
    height : 100%;
  }
}

body button:focus {
  outline : 0;
}

footer {
  height           : 15%;
  background-color : #534d93 !important;
}

@media
  only screen
  and (min-width : 768px) {
  footer {
    height : 0%;
  }
}

a,
a:focus,
a:hover,
a:visited {
  text-decoration : none;
}

.modal {
  width      : 95%;
  max-height : 85%;
}

@media
  (min-width : 601px) {
  .modal {
    width      : 80%;
    max-height : 80%;
  }
}

.main {
  min-height            : 100%;
  background-repeat     : no-repeat;
  background-attachment : fixed;
  background-position   : center;
  background-size       : cover;
}

@media
  (min-width : 601px) {
  .body-artist {
    background-image : url('../images/backgrounds/erin-biafore-660296-unsplash.png');
  }
}

@media
  (min-width : 601px) {
  .body-venue {
    background-image : url('../images/backgrounds/rock-concert-PBZ2JSW.jpg');
  }
}

@media
  (min-width : 601px) {
  .body-reg-artist {
    background-image : url('../images/backgrounds/erin-biafore-660296-unsplash.png');
  }
}

@media
  (min-width : 601px) {
  .body-reg-venue {
    background-image : url('../images/backgrounds/rock-concert-PBZ2JSW.jpg');
  }
}

.register-heading {
  text-align : center;
}

.register-heading>div {
  display : inline-block;
  width   : auto;
  margin  : 0 auto;
}

.register-heading span {
  display    : block;
  text-align : left;
}

#change-type-div {
  padding       : 20px 10px;
  border-bottom : 1px solid #e4e4e4;
}

@media
  only screen
  and (min-width : 601px) {
  #change-type-div {
    height        : 50px;
    border-bottom : 0;
  }
}

#change-type-div div * {
  vertical-align : middle;
}

#change-type-div span {
  font-size : 1.4rem;
}

#change-type-div #m-ourscene-logo {
  height       : 30px;
  margin-right : 10px;
}

#change-type-div .change-type-btn {
  width   : 150px;
  float   : right;
  padding : 0;
}

#change-type-div .l-change-type-btn {
  margin           : 10px 30px;
  padding          : 10px 20px;
  color            : #FFF;
  border-radius    : 10px;
  background-color : rgba(43,46,58,1.0);
}

#login-form-container {
  width          : 100%;
  padding-bottom : 30px;
}

@media
  (min-width : 601px) {
  #login-form-container {
    position         : absolute;
    top              : 92px;
    left             : 50%;
    width            : 620px;
    height           : 500px;
    margin-top       : 0;
    border-radius    : 10px;
    background-color : rgba(43,46,58,1.0);
    transform        : translateX(-50%);
  }
}

#login-heading {
  height     : 60px;
  margin     : 10px 10px;
  color      : #fff;
  text-align : center;
}

#login-heading span {
  font-size : 22px;
}

#login-heading img {
  width  : 100px;
  height : 100%;
}

#login-body {
  margin : 40px 20px 20px 20px;
}

.remember-me {
  margin     : 20px;
  text-align : center;
}

.login-btn-div {
  text-align : center;
}

.login-btn {
  padding-right : 100px;
  padding-left  : 100px;
}

.forgot-password {
  margin-top    : 25px;
  margin-bottom : 10px;
  text-align    : center;
}

.forgot-password a {
  color           : rgba(26,120,246,1.0);
  border-bottom   : 1px rgba(26,120,246,1.0) dotted;
  text-decoration : uderline;
}

.signup-link-div {
  margin     : 0 auto;
  text-align : center;
}

@media
  (max-width : 601px) {
  .signup-link-div {
    padding-top : 20px;
  }
}

.signup-link-div a {
  color           : rgba(26,120,246,1.0);
  border-bottom   : 1px rgba(26,120,246,1.0) dotted;
  text-decoration : uderline;
}

#register-artist #details {
  padding : 25px 5px;
}

@media
  only screen
  and (min-width : 768px) {
  #register-artist #details {
    padding : 30px 15px;
  }
}

#register-artist #materials {
  padding : 25px 5px;
}

@media
  only screen
  and (min-width : 768px) {
  #register-artist #materials {
    padding : 30px 15px;
  }
}

#register-artist .note {
  padding    : 20px 0;
  font-size  : 11px;
  font-style : italic;
}

#register-artist .file-path {
  height : 1.5rem;
}

.remove-image-btn,
.remove-song-btn,
.remove-video-btn {
  display : inline-block;
  cursor  : pointer;
}

.remove-material-icon {
  display : block;
  height  : 30px;
}

#register-venue #profile-details {
  padding    : 25px 15px;
  border-top : 1px solid rgba(160,160,160,0.2);
}

@media
  only screen
  and (min-width : 768px) {
  #register-venue #profile-details {
    padding : 30px 25px;
  }
}

#register-venue .note {
  padding    : 20px 0;
  font-size  : 11px;
  font-style : italic;
}

.required {
  color      : #f00;
  font-size  : 13px;
  font-style : normal;
}

.registration-panel {
  margin        : 0;
  padding       : 0;
  border        : 2px solid #808080;
  border-radius : 25px;
}

@media
  (min-width : 992px) {
  .registration-panel {
    top         : 72px;
    width       : 50%;
    width       : 620px;
    height      : 1558px;
    margin-left : 25%;
    color       : #fff;
    opacity     : .9;
    transform   : rotate(0);
  }
}

.register-heading {
  padding : 20px 10px;
}

.register-heading span {
  font-size : 1.75rem;
}

.register-heading img {
  display : none;
  width   : auto;
  height  : 50px;
}

.register-heading-title {
  margin-bottom : 10px;
  padding       : 0;
  text-align    : center;
}

@media
  (min-width : 993px) {
  .register-heading-title {
    text-align : left;
  }
}

.reg-step-tab {
  margin : 0 20px;
}

.reg-step-tab span {
  color       : #534d93;
  font-size   : 1.1rem;
  font-weight : 800;
}

.active-reg-step-tab span {
  color     : #4c4688;
  font-size : 14px;
}

.inactive-reg-step-tab span {
  color : #7f7f7f;
}

.profile-picture-preview {
  width       : 60px;
  height      : 60px;
  margin-left : 15px;
  padding     : 0;
}

#input-profile-picture {
  display : inline;
  width   : 250px;
  color   : transparent;
  border  : none;
}

.sign-in-link {
  color         : rgba(26,120,246,1.0);
  border-bottom : 1px rgba(26,120,246,1.0) dotted;
}

.upload-btn {
  color            : rgba(26,120,246,1.0);
  background-color : #fff;
}

.upload-btn:hover {
  color            : rgba(26,120,246,1.0);
  background-color : #fff;
}

.material-upload {
  height : 1rem;
}

.material-upload input {
  height : 1rem;
}

.terms-and-condition-label {
  font-size : 1rem;
}

@media
  only screen
  and (min-width : 992px) {
  .terms-and-condition-label {
    font-size : 0.9rem;
  }
}

.terms-and-condition-label a {
  color         : rgba(26,120,246,1.0)rgba(26,120,246,1.0);
  border-bottom : none;
}

.i-agree-label a {
  color         : #fff;
  border-bottom : none;
  font-size     : 1.2rem;
}

.reg-btn {
  padding-right : 40px;
  padding-left  : 40px;
}

.tab-navigation {
  margin        : 0;
  padding       : 0;
  border-bottom : 1px solid rgba(160,160,160,0.2);
}

.tab-navigation .col {
  padding : 0;
}

.tab-navigation .col a {
  color          : #333;
  text-transform : none;
  font-family    : "OpenSans-SemiBold";
  letter-spacing : normal;
}

.tab-navigation .indicator {
  height           : 4px;
  background-color : rgba(26,120,246,1.0) !important;
}

#artist-genre-modal #genre-collapsible {
  padding : 0;
}

#artist-genre-modal label {
  font-family : "OpenSans-Regular";
}

.btn {
  font-size : 10px;
}

@media
  only screen
  and (min-width : 768px) {
  .btn {
    font-size : 12px;
  }
}

input:not([type]):not([readonly]),
input[type=date]:not([readonly]),
input[type=datetime-local]:not([readonly]),
input[type=datetime]:not([readonly]),
input[type=email]:not([readonly]),
input[type=number]:not([readonly]),
input[type=password]:not([readonly]),
input[type=search]:not([readonly]),
input[type=tel]:not([readonly]),
input[type=text]:not([readonly]),
input[type=time]:not([readonly]),
input[type=url]:not([readonly]),
textarea.materialize-textarea:not([readonly]) {
  padding-left  : 5px;
  border        : 1px solid #9e9e9e;
  border-radius : 10px;
  background    : #808080;
  box-shadow    : initial;
}

input:not([type]):focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom : 1px solid #9e9e9e;
  box-shadow    : initial;
}

.input-field label,
.input-field label.active {
  color       : #FFF;
  font-family : "OpenSans-SemiBold";
  font-size   : 1rem;
}

.input-field input:not([type]):focus+label,
.input-field input[type=date]:focus+label,
.input-field input[type=datetime-local]:focus+label,
.input-field input[type=datetime]:focus+label,
.input-field input[type=email]:focus+label,
.input-field input[type=number]:focus+label,
.input-field input[type=password]:focus+label,
.input-field input[type=search]:focus+label,
.input-field input[type=tel]:focus+label,
.input-field input[type=text]:focus+label,
.input-field input[type=time]:focus+label,
.input-field input[type=url]:focus+label,
.input-field textarea.materialize-textarea:focus+label {
  color : #333;
}
