@font-face {
  font-family : "OpenSans-Bold";
  src         : url(../fonts/open-sans/OpenSans-Bold.ttf);
}

@font-face {
  font-family : "OpenSans-BoldItalic";
  src         : url(../fonts/open-sans/OpenSans-BoldItalic.ttf);
}

@font-face {
  font-family : "OpenSans-ExtraBold";
  src         : url(../fonts/open-sans/OpenSans-ExtraBold.ttf);
}

@font-face {
  font-family : "OpenSans-ExtraBoldItalic";
  src         : url(../fonts/open-sans/OpenSans-ExtraBoldItalic.ttf);
}

@font-face {
  font-family : "OpenSans-Italic";
  src         : url(../fonts/open-sans/OpenSans-Italic.ttf);
}

@font-face {
  font-family : "OpenSans-Light";
  src         : url(../fonts/open-sans/OpenSans-Light.ttf);
}

@font-face {
  font-family : "OpenSans-LightItalic";
  src         : url(../fonts/open-sans/OpenSans-LightItalic.ttf);
}

@font-face {
  font-family : "OpenSans-Regular";
  src         : url(../fonts/open-sans/OpenSans-Regular.ttf);
}

@font-face {
  font-family : "OpenSans-Semibold";
  src         : url(../fonts/open-sans/OpenSans-Semibold.ttf);
}

@font-face {
  font-family : "OpenSans-SemiboldItalic";
  src         : url(../fonts/open-sans/OpenSans-SemiboldItalic.ttf);
}

.ourscene-btn-1 {
  color            : #FFF;
  background-color : rgba(26, 120, 246, 1.0);
  border-radius: 10px;
}

.ourscene-btn-1:focus,
.ourscene-btn-1:hover {
  color            : #FFF;
  background-color : #6b65ae;
  border-radius: 10px;
}

.ourscene-btn-2 {
  color            : #FFF;
  background-color : rgba(26, 120, 246, 1.0);
  border-radius: 10px;
}

.ourscene-btn-3 {
  color            : #FFF;
  background-color : #ef6b24;
  border-radius: 10px;
}

.ourscene-btn-3:focus,
.ourscene-btn-3:hover {
  color            : #FFF;
  background-color : #d1530f;
  border-radius: 10px;
}

.ourscene-btn-4 {
  color            : #FFF;
  background-color : #E54C65;
  border-radius: 10px;
}

.ourscene-btn-4:focus,
.ourscene-btn-4:hover {
  color            : #FFF;
  background-color : #de203f;
  border-radius: 10px;
}

.ourscene-btn-plain-1 {
  color            : #534d93;
  background-color : transparent;
  box-shadow       : none;
}

.ourscene-btn-plain-1:focus,
.ourscene-btn-plain-1:hover {
  color            : #534d93;
  background-color : transparent;
  box-shadow       : none;
}

.btn-group {
  display        : inline-block;
  position       : relative;
  vertical-align : middle;
}

.btn-group .btn {
  float         : left;
  border        : 1px solid #e4e4e4;
  border-radius : 0;
  box-shadow    : none;
}

.btn-group .btn:first-child {
  border-top-left-radius    : 4px;
  border-bottom-left-radius : 4px;
}

.btn-group .btn:last-child {
  border-top-right-radius    : 4px;
  border-bottom-right-radius : 4px;
}

.btn-group .btn:not(:last-child) {
  border-right : 0;
}

.ourscene-link-1 {
  margin-right    : 0 !important;
  color           : #534d93 !important;
  text-align      : center;
  text-decoration : underline;
  text-transform  : none !important;
}

.ourscene-link-1 :hover {
  color           : #534d93 !important;
  text-decoration : underline;
  text-transform  : none !important;
}

.required-color {
  color : red;
}

.confirm-color {
  color : #46bfa7;
}

.reject-color {
  color : #ef6b24;
}

.cancel-color {
  color : #ef6b24;
}

.border-color-1 {
  color : #7f7f7f;
}

.ourscene-label-1 {
  color       : #333;
  font-family : "OpenSans-SemiBold";
  font-size   : 1rem;
}

.circular-img-container {
  display               : inline-block;
  width                 : 50px;
  height                : 50px;
  border                : 1px solid #e4e4e4;
  -moz-border-radius    : 150px;
  -webkit-border-radius : 150px;
  border-radius         : 150px;
  background-repeat     : no-repeat;
  background-size       : cover;
}

@media
  only screen
  and (min-width : 993px) {
  .circular-img-container {
    width  : 90px;
    height : 90px;
  }
}

.ourscene-modal-title-1 {
  margin-bottom : 20px;
  color         : #534d93;
  font-size     : 1.5rem;
}

.ourscene-card-1 {
  max-width : 250px;
  margin    : 0 auto;
}

.ourscene-card-1 .card {
  margin-bottom : 0;
}

.ourscene-card-1 .card-content {
  padding : 0;
}

.ourscene-card-1 .card-action {
  padding : 10px;
}

.ourscene-card-1 .profile-pic-container {
  padding : 35px 0;
}

.ourscene-card-1 .profile-pic {
  display : block;
  width   : 80px;
  height  : 80px;
  margin  : 0 auto;
}

.ourscene-card-1 .action-container a {
  display   : block;
  font-size : 0.8rem;
}

.ourscene-card-1 .action-container .action-series {
  padding : 10px 0;
}

.ourscene-card-1 .action-container .col {
  padding : 0 5px;
}

.ourscene-card-1 .action-container .col:first-child {
  padding-left : 0;
}

.ourscene-card-1 .action-container .col:last-child {
  padding-right : 0;
}

.text-container-ellipsis {
  overflow      : hidden;
  text-overflow : ellipsis;
  white-space   : nowrap;
}

.normal-weight {
  font-family : "OpenSans-Regular";
}

.light-weight {
  font-family : "OpenSans-Light";
}

.bold-weight {
  font-family : "OpenSans-SemiBold";
}

.l-display-only {
  display : none;
}

@media
  only screen
  and (min-width : 993px) {
  .l-display-only {
    display : block;
  }
}

@media
  only screen
  and (min-width : 993px) {
  .l-no-display {
    display : none;
  }
}

.visible {
  visibility : visible;
}

.invisible {
  visibility : hidden;
}

.no-cursor {
  cursor : none;
}

.success-field {
  margin           : 10px 0;
  padding          : 5px;
  color            : #FFF;
  background-color : #46bfa7;
  font-family      : "OpenSans-Light";
}

.error-field {
  margin           : 10px 0;
  padding          : 5px;
  color            : #FFF;
  background-color : #F06D71;
  font-family      : "OpenSans-Light";
}

.warning-field {
  margin           : 10px 0;
  padding          : 5px;
  color            : #FFF;
  background-color : #ff7518;
  font-family      : "OpenSans-Light";
}

.ourscene-calendar .fc-divider,
.ourscene-calendar .fc-popover,
.ourscene-calendar .fc-row,
.ourscene-calendar tbody,
.ourscene-calendar td,
.ourscene-calendar th,
.ourscene-calendar thead {
  color        : #7A7A7A;
  border-color : #e4e4e4;
}

.ourscene-calendar thead td,
.ourscene-calendar thead th {
  border-color  : transparent;
  border-bottom : #e4e4e4;
}

.ourscene-calendar thead th {
  padding     : 2px;
  text-align  : left;
  font-family : "OpenSans-SemiBold";
  font-size   : 0.8rem;
}

@media
  only screen
  and (min-width : 993px) {
  .ourscene-calendar thead th {
    padding   : 5px;
    font-size : 1.2rem;
  }
}

.search-dropdown {
  line-height : initial;
}

.search-dropdown .search-divider {
  display          : inline-block;
  width            : 100%;
  color            : #aaa;
  background-color : #efefef;
  text-align       : center;
  font-family      : "OpenSans-Regular" !important;
  font-size        : 0.9rem !important;
  line-height      : initial;
}

.search-dropdown .search-divider a {
  display : block;
  color   : #aaa;
}

.search-dropdown .view-all-search {
  display        : inline-block;
  width          : 100%;
  padding-top    : .8em;
  padding-bottom : .8em;
  color          : #aaa;
  text-align     : center;
  font-size      : 1em;
  font-weight    : bold;
}

.search-dropdown li {
  font-family : "OpenSans-Regular" !important;
}

.search-dropdown li a {
  padding        : 5px 15px 0;
  color          : #46bfa7 !important;
  text-transform : none !important;
  font-size      : 14px;
  font-weight    : 100;
}

.search-dropdown li div {
  height    : auto;
  padding   : 0 15px 5px;
  color     : #aaa;
  font-size : 10px;
}

.search-dropdown li div i {
  display     : inline-block;
  height      : 100%;
  margin      : 0 0.3rem;
  font-size   : 10px;
  line-height : 0;
}

ul.pagination {
  float : right;
}

ul.pagination li.active {
  color            : #FFF;
  background-color : #534d93;
}

.progress {
  background-color : #4c4688;
}

.progress .indeterminate {
  background-color : #a09bcc;
}

.registration-txtbx-1 {
  border        : none;
  border-bottom : gray 1px solid;
  border-radius : 0px;
  outline       : none;
  box-shadow    : none;
}

input:focus {
  border     : none;
  outline    : none;
  box-shadow : none;
}

.full-width {
  width : 100%;
}

.center-element-vertically {
  position  : relative;
  top       : 50%;
  transform : translateY(-50%);
}

html {
  height    : 100%;
  font-size : 10px;
}

@media
  only screen
  and (min-width : 768px) {
  html {
    font-size : 12px;
  }
}

body {
  min-height       : 100%;
  background-color : rgba(39, 40, 42, 1.0);
  font-family      : "OpenSans-Regular";
}

a,
a:focus,
a:hover,
a:visited {
  text-decoration : none;
}

.modal {
  width      : 95%;
  max-height : 85%;
}

@media
  (min-width : 601px) {
  .modal {
    width      : 80%;
    max-height : 80%;
  }
}

.badge {
  position    : relative !important;
  right       : 0 !important;
  margin-left : 5px;
  color       : #fff !important;
}

.register-heading {
  display : inline-block;
  width   : auto;
  margin  : 0 auto;
}

#dropdown-user {
  margin-top : -20px;
}

#message-form .card-action.title {
  left          : -1%;
  width         : 102%;
  border-bottom : 1px solid #ccc;
}

#message-form.messsage-all .message-content #messages-conversation ul li .message span {
  display        : block;
  width          : 90%;
  height         : 20px;
  padding-bottom : 1em;
  color          : #333;
  overflow       : hidden;
  text-overflow  : ellipsis;
  white-space    : nowrap;
}

#message-form .conversation-title {
  font-size : 1.25rem;
}

#message-form .secondary-content {
  right : 5px !important;
}

@media
  (max-width : 320px) {
  #message-form .secondary-content {
    right     : 1px !important;
    width     : 18%;
    height    : 40px !important;
    font-size : 8px;
  }
}

#message-form .message {
  width : 80%;
}

#message-form .message-content {
  padding : 1em 0;
}

#message-form .message-content .row #messages-conversation ul {
  height     : 60vh;
  overflow-y : auto;
  border     : 0;
}

#message-form .message-content .row #messages-conversation ul li {
  margin-bottom : 2px !important;
  border        : 0;
}

#message-form .message-content .row #messages-conversation ul li span.secondary-content {
  margin-top : -5px;
  color      : #333;
}

#message-form .message-content .row #messages-conversation ul li .message123 {
  padding-bottom : 1em;
  border-bottom  : solid 1px #ddd;
}

#message-form .message-content .row #messages-conversation .message-footer {
  border-top : solid 1px #eee;
}

#message-form .avatar {
  min-height : 0;
}

#main-navigation-1-dropdown {
  z-index : 9999;
}

#search-results>div>div:nth-child(1)>#my-events-events>div>div.card-action.title {
  z-index  : 999;
  overflow : visible;
}

#search-results>div:nth-child(1)>div:nth-child(2) {
  z-index : -1;
}

#search-results-search-dropdown {
  left       : 60px;
  width      : 60%;
  margin-top : 3em;
  font-size  : 16px;
}

#search-results-search-dropdown li div {
  color       : #aaa;
  font-weight : 100;
}

#search-results-search-dropdown li div i {
  display : inline-block;
  margin  : 0 .3em;
}

#search-results-search-dropdown .view-all-search {
  font-size : 10px;
}

#search-results .pagination span {
  display     : inline-block;
  padding     : 0 10px;
  font-size   : 1.2rem;
  line-height : 30px;
}

#dropdown-user {
  width      : 96%;
  margin-top : -.8em;
}

#dropdown-user li div {
  padding        : 0 16px;
  padding-bottom : 5px;
  color          : #aaa;
}

#dropdown-user li div i {
  display : inline-block;
  margin  : 0 .3em;
}

#dropdown-user li a {
  padding-bottom : 0;
}

#dropdown-user .search-divider {
  display          : inline-block;
  width            : 100%;
  color            : #aaa;
  background-color : #efefef;
  text-align       : center;
  font-size        : .9em;
  font-weight      : bold;
}

#dropdown-user .view-all-search {
  display        : inline-block;
  width          : 100%;
  padding-top    : .8em;
  padding-bottom : .8em;
  color          : #aaa;
  text-align     : center;
  font-size      : 1em;
  font-weight    : bold;
}

#main-navigation-search-dropdown {
  z-index      : 1000;
  right        : 0;
  left         : 0;
  width        : 30%;
  margin-right : auto;
  margin-left  : auto;
}

#search-sidebar-dropdown>li {
  min-height  : 0;
  line-height : 0;
}

#search-sidebar-dropdown>li span.search-divider {
  padding : 0;
}

#search-sidebar-dropdown {
  width      : 100%;
  margin-top : 0px;
}

#search-sidebar-dropdown li a {
  height      : auto;
  padding     : 5px 15px 0;
  line-height : initial;
}

#search-sidebar-dropdown li div {
  line-height : initial;
}

#search-sidebar-dropdown .divider {
  margin : 0;
}

#main-navigation-1 {
  margin           : 0;
  border           : 0;
  border-radius    : 0;
  background-color : rgba(0, 0, 0, 1.0);
}

#main-navigation-1 div a.brand-logo.center {
  width : 30%;
}

#main-navigation-1 div a.brand-logo.center div>i.material-icons {
  display : none;
}

#main-navigation-1 div a.brand-logo.center div {
  margin-top : .7em;
}

#main-navigation-1 div a.brand-logo.center div label {
  margin-top : -1em;
}

#main-navigation-1 div a.brand-logo.center div label i {
  color     : #aaa !important;
  font-size : 1.8em;
}

#main-navigation-1 div a.brand-logo.center #main-navigation-search-input {
  padding-top      : .8em;
  padding-bottom   : .8em;
  color            : #aaa;
  border-radius    : .2em;
  background-color : rgba(39, 40, 42, 1.0) !important;
  font-size        : .9em;
  line-height      : normal;
}

#main-navigation-1 div #mobile-demo {
  height : 100% li;
}

#main-navigation-1 div #mobile-demo a:visited {
  background-color : white;
}

#main-navigation-1 div #mobile-demo a:hover {
  background-color : white;
}

#main-navigation-1 div #mobile-demo li.profile-info {
  font-size : 1.3em !important;
}

#main-navigation-1 div #mobile-demo li.profile-info ~ li a {
  height         : auto;
  padding-top    : .5em;
  padding-bottom : .5em;
  color          : #534d93;
  font-size      : 1.3em !important;
  line-height    : 1em;
}

#main-navigation-1 div #mobile-demo li.sidebar-nav a {
  padding-left : 10%;
}

#main-navigation-1 div #mobile-demo li.sign-out {
  width            : 100%;
  height           : 60px;
  margin-top       : 20%;
  background-color : #111;
}

#main-navigation-1 div #mobile-demo li.sign-out a {
  position   : relative;
  top        : 50%;
  color      : #FFF !important;
  text-align : center;
  transform  : translateY(-50%);
}

#main-navigation-1 div #mobile-demo #search-sidebar {
  display               : block;
  -webkit-appearance    : none;
  height                : 40px;
  margin                : 0;
  padding-top           : .5em;
  padding-bottom        : .5em;
  border                : solid 1px #eee;
  -webkit-border-radius : 0px;
  font                  : 16px;
}

#main-navigation-1 div #mobile-demo #search_label {
  height : 100%;
  margin : 0;
}

#main-navigation-1 div #mobile-demo #search_label i {
  position  : relative;
  top       : 50%;
  transform : translateY(-50%);
}

#main-navigation-1 div #mobile-demo li.profile-info {
  padding : 15px 30px;
}

#main-navigation-1 div #mobile-demo li.profile-info span {
  display     : block;
  margin      : 0 auto;
  color       : #333;
  text-align  : center;
  font-size   : 1.1em;
  line-height : 1em !important;
}

#main-navigation-1 div #mobile-demo li.profile-info .img img {
  display       : block;
  width         : 70px;
  height        : 70px;
  margin        : 0 auto;
  margin-bottom : 10px;
  border        : solid 1px #ccc;
  border-radius : 1000px;
}

#main-navigation-1 div #mobile-demo>li:nth-child(1) {
  padding : 10px;
}

#main-navigation-1 div #mobile-demo>li:nth-child(1) a {
  padding-left : 25px;
}

#main-navigation-1 div #mobile-demo>li:nth-child(2) {
  margin-top : 5em !important;
}

#main-navigation-1 div #mobile-demo>li:nth-child(2) .input-field {
  width      : 90%;
  margin     : 0 auto;
  box-shadow : 0 4px 2px -2px gray;
}

#main-navigation-1 div #mobile-demo>li:nth-child(2) .input-field label {
  margin-top : -1.5em;
}

#main-navigation-1 div #mobile-demo>li:nth-child(2) .input-field label i {
  color : #aaa !important;
}

#main-navigation-1 .nav-side-bar {
  width : 100px;
}

#main-navigation-1 .nav-icon {
  width  : 20px;
  height : 20px;
}

#main-navigation-1 .brand-logo {
  font-size : 1.25rem;
}

#main-navigation-1 .brand-logo * {
  vertical-align : middle;
}

#main-navigation-1 .brand-logo-icon {
  width        : 30px;
  height       : 30px;
  margin-right : 10px;
  margin-left  : 40px;
  text-align   : center;
}

@media
  only screen
  and (min-width : 993px) {
  #main-navigation-1 .brand-logo-icon {
    margin-left : 25px;
  }
}

#main-navigation-1 .hamburger-icon {
  margin-left : 10px;
}

#main-navigation-1 .dropdown-icon {
  height : 1rem;
}

#main-navigation-1 #nav-profile-pic {
  width  : 30px;
  height : 30px;
}

#main-navigation-1-dropdown li {
  min-height       : initial;
  background-color : #4c4688;
}

#main-navigation-1-dropdown li:hover {
  background-color : #23203e;
}

#main-navigation-1-dropdown a {
  height     : 100%;
  padding    : 10px 50px;
  color      : #FFF;
  text-align : center;
  font-size  : 1rem;
}

#main-navigation-1-dropdown .divider {
  background-color : #333;
}

#register-materials-images #material-images .col.s6.m2.l2 .media_images {
  display  : block;
  position : relative;
  width    : 100%;
  height   : 96px;
  overflow : hidden;
}

#register-materials-images #material-images .col.s6.m2.l2 .media_images img {
  position : absolute;
  top      : -25%;
  left     : -20%;
}

.media_images {
  display  : block;
  position : relative;
  width    : 100%;
  height   : 96px;
  overflow : hidden;
}

.media_images img {
  position : absolute;
  top      : -25%;
  left     : -20%;
}

#main-navigation-2 {
  background-color : rgba(0, 0, 0, 1.0);
  text-align       : center;
  font-family      : "OpenSans-SemiBold";
}

#main-navigation-2 .side-btn-container {
  display : none;
}

@media
  only screen
  and (min-width : 993px) {
  #main-navigation-2 .side-btn-container {
    display : inline-block;
  }
}

#main-navigation-2 .side-btn-container .btn {
  display : inline-block;
}

#main-navigation-2 .col.m12.l4.side-btn-container.right-align a {
  position     : relative;
  top          : .6em;
  margin-right : .5em;
  padding      : 10px;
}

#main-navigation-2 a {
  display     : block;
  height      : auto;
  padding     : 15px 0;
  color       : #FFF;
  line-height : initial;
}

#main-navigation-2 a:not(.btn) {
  border-bottom : 4px solid transparent;
}

#main-navigation-2 a.active {
  border-bottom : 4px solid #46bfa7;
}

#main-navigation-2 .row {
  margin : 0;
}

#main-navigation-2 .row .col {
  padding : 0;
}

#main-navigation-3 {
  padding          : 10px 5px;
  background-color : #f6f6f6;
  box-shadow       : 2px 2px 2px #e4e4e4;
  font-family      : "OpenSans-SemiBold";
}

#main-navigation-3 img {
  height       : 1.5rem;
  margin-right : 10px;
}

@media
  only screen
  and (min-width : 993px) {
  #main-navigation-3 img {
    height       : 2rem;
    margin-right : 25px;
  }
}

#main-navigation-3 a {
  height           : auto;
  padding          : 10px 8px;
  color            : #333;
  background-color : #FFF;
  font-size        : 0.85rem;
  line-height      : initial;
}

@media
  only screen
  and (min-width : 993px) {
  #main-navigation-3 a {
    padding   : 10px 20px;
    font-size : 0.9rem;
  }
}

#main-navigation-3 a * {
  vertical-align : middle;
}

#main-navigation-3 a.active {
  color            : #FFF;
  background-color : #46bfa7;
  box-shadow       : none;
}

#about-us-card .about-title {
  font-family : OpenSans-Bold;
  font-size   : 24px;
}

#about-us-card .section-title {
  margin-bottom : 20px;
  font-family   : OpenSans-SemiBold;
  font-size     : 16px;
}

#about-us-card .sub-section-title {
  margin-bottom   : 20px;
  text-decoration : italic;
  font-family     : OpenSans-Italic;
  font-size       : 14px;
}

#about-us-card p {
  margin-bottom : 20px;
  text-align    : justify;
}

#faq-card .faq-title {
  font-family : OpenSans-Bold;
  font-size   : 24px;
}

#faq-card .section-title {
  margin-bottom : 20px;
  font-family   : OpenSans-SemiBold;
  font-size     : 16px;
}

#faq-card .sub-section-title {
  margin-bottom   : 20px;
  text-decoration : italic;
  font-family     : OpenSans-Italic;
  font-size       : 14px;
}

#faq-card p {
  margin-bottom : 20px;
  text-align    : justify;
}

#my-events-events {
  padding : 0 5% 25px;
}

#my-events-events .events-under-status {
  margin-top : 25px;
}

#my-events-events .events-under-status .header-title {
  padding     : 10px;
  font-family : "OpenSans-SemiBold";
  font-size   : 1.3rem;
}

#my-events-events .events-under-status .header-title * {
  vertical-align : middle;
}

#my-events-events .events-under-status .content {
  padding : 0;
}

#my-events-events table tr:not(:first-child) {
  border-top : 1px solid #e4e4e4;
}

#my-events-events table td {
  padding : 15px 10px;
}

@media
  only screen
  and (min-width : 993px) {
  #my-events-events table td {
    padding : 20px 15px;
  }
}

#my-events-events table .row {
  margin : 0;
}

#my-events-events table .col {
  margin-top    : 2px;
  margin-bottom : 2px;
}

#my-events-events table .col * {
  vertical-align : middle;
}

#my-events-events table .action a {
  margin-right : 5px;
  cursor       : pointer;
}

@media
  only screen
  and (min-width : 993px) {
  #my-events-events table .action a {
    margin-right : 20px;
  }
}

#my-events-events table .action a:last-child {
  margin : 0;
}

@media
  only screen
  and (min-width : 993px) {
  #my-events-events table .action a.l-display-only {
    display : inline-block;
  }
}

#my-events-events .header-icon {
  height       : 25px;
  margin-right : 10px;
}

#my-events-events .table-icon {
  height : 20px;
}

@media
  only screen
  and (min-width : 993px) {
  #my-events-events .table-icon {
    height : 25px;
  }
}

#my-events-events .profile-pic {
  width  : 40px;
  height : 40px;
}

@media
  only screen
  and (min-width : 993px) {
  #my-events-events .profile-pic {
    width  : 55px;
    height : 55px;
  }
}

#my-events-events .event-title-link {
  color          : #534d93;
  text-transform : none;
}

#my-events-events .no-events {
  padding   : 35px 0;
  color     : #7f7f7f;
  font-size : 1.25rem;
}

#my-events-events .booked-color {
  color : #46bfa7;
}

#my-events-events .pending-color {
  color : #534d93;
}

#my-events-events .next-time-color {
  color : #ef6b24;
}

#my-events-calendar #calendar-container {
  margin  : 0;
  padding : 5%;
}

#my-events-calendar #calendar-title-container {
  margin-bottom  : 30px;
  color          : #534d93;
  text-align     : center;
  text-transform : uppercase;
  font-size      : 1.5rem;
}

@media
  only screen
  and (min-width : 993px) {
  #my-events-calendar #calendar-title-container {
    text-align : left;
    font-size  : 1.8rem;
  }
}

#my-events-calendar #calendar-title-container * {
  vertical-align : middle;
}

#my-events-calendar #calendar-title-container img {
  height       : 20px;
  margin-right : 10px;
}

@media
  only screen
  and (max-width : 608px) {
  #paypal-payment-update-form>div.\2e hide-on-med-and-down.col.s12.m6.l2.input-field>img {
    display : none !important;
  }
}

#event-form {
  margin : 0;
}

@media
  only screen
  and (min-width : 993px) {
  #event-form {
    margin : 20px 5%;
  }
}

#event-form .title {
  overflow    : hidden;
  font-family : "OpenSans-SemiBold";
  font-size   : 1.5rem;
}

#event-form .title img {
  height       : 25px;
  margin-right : 20px;
}

#event-form .title * {
  vertical-align : middle;
}

#event-form .edit-event-title {
  display     : block;
  margin-top  : 20px;
  color       : #7f7f7f;
  font-family : "OpenSans-Light";
  font-size   : 1.15rem;
}

@media
  only screen
  and (min-width : 993px) {
  #event-form .edit-event-title {
    display     : inline;
    margin-left : 25px;
  }
}

#event-form .delete-event-btn {
  display    : inline-block;
  margin-top : 10px;
}

@media
  only screen
  and (min-width : 993px) {
  #event-form .delete-event-btn {
    display : inline;
    margin  : 0;
  }
}

#event-form .section-header {
  padding-bottom : 20px;
  color          : #534d93;
  border-bottom  : solid 1px #ddd;
  font-family    : "OpenSans-SemiBold";
  font-size      : 1.25rem;
}

#event-form .row {
  margin : 0;
}

#event-form .remove-icon {
  height : 25px;
  cursor : pointer;
}

#event-form #event-form-nav label {
  color       : #333;
  font-family : "OpenSans-SemiBold";
}

@media
  only screen
  and (min-width : 993px) {
  #event-form #event-form-container {
    padding : 0 20px 20px;
  }
}

#event-form #promotion-form-container,
#event-form #regular-event-form-container {
  padding : 15px;
  border  : 1px solid #e4e4e4;
}

@media
  only screen
  and (min-width : 993px) {
  #event-form #promotion-form-container,
  #event-form #regular-event-form-container {
    padding : 20px;
  }
}

#event-form #artist-lineup,
#event-form #equipments,
#event-form #invite-artist,
#event-form #invited-artists {
  margin-top : 20px;
  padding    : 15px;
  border     : 1px solid #e4e4e4;
}

#event-form #add-equipments-table td:first-child,
#event-form #artist-lineup-table td:first-child,
#event-form #invite-artists-table td:first-child,
#event-form #invited-artists-table td:first-child {
  width         : 90%;
  border-bottom : 1px solid #9E9E9E;
}

@media
  only screen
  and (min-width : 993px) {
  #view-event {
    margin : 20px 5%;
  }
}

#view-event #view-event-container {
  margin : 0;
}

#view-event #page-nav-buttons {
  display : none;
}

@media
  only screen
  and (min-width : 993px) {
  #view-event #page-nav-buttons {
    display       : block;
    margin-bottom : 20px;
  }
}

#view-event .page-nav-btn {
  color            : #333;
  background-color : #F7F7F7;
  font-family      : "OpenSans-SemiBold";
}

#view-event .page-nav-btn * {
  vertical-align : middle;
}

#view-event .page-nav-btn:focus,
#view-event .page-nav-btn:hover {
  color            : #333;
  background-color : #fff;
}

#view-event #venue-profile {
  padding   : 10px;
  font-size : 1.25rem;
}

#view-event #venue-profile * {
  vertical-align : middle;
}

#view-event #venue-profile .name {
  font-family : "OpenSans-SemiBold";
}

#view-event #venue-profile .profile-pic {
  margin-right : 20px;
}

@media
  only screen
  and (min-width : 993px) {
  #view-event #venue-profile {
    padding : 20px;
  }
}

#view-event #event-title {
  padding          : 55px 10px;
  color            : #FFF;
  background-color : #534d93;
  font-family      : "OpenSans-Light";
  font-size        : 1.5rem;
}

#view-event #pay-to-play {
  margin-top : 10px;
  color      : #7f7f7f;
  font-size  : 1.25rem;
}

#view-event #pay-to-play * {
  vertical-align : middle;
}

#view-event #pay-to-play-icon {
  height       : 25px;
  margin-right : 10px;
}

#view-event #event-main-section {
  padding : 15px 0 0;
}

#view-event #event-navigation {
  padding : 0;
}

#view-event #event-navigation a {
  color          : #333;
  text-transform : none;
  font-family    : "OpenSans-SemiBold";
  letter-spacing : normal;
}

#view-event #event-navigation .indicator {
  height           : 4px;
  background-color : #534d93;
}

#view-event #event-details {
  padding : 0;
}

#view-event #event-details img {
  height : 15px;
}

@media
  only screen
  and (min-width : 993px) {
  #view-event #event-details img {
    height : 20px;
  }
}

#view-event #event-details #contacts {
  padding    : 20px 5px;
  font-size  : 0.8rem;
  word-break : break-all;
}

@media
  only screen
  and (min-width : 993px) {
  #view-event #event-details #contacts {
    font-size : 1rem;
  }
}

@media
  only screen
  and (min-width : 993px) {
  #view-event #event-details #details {
    padding : 40px;
  }
}

#view-event #event-details #details .detail:not(:last-child) {
  margin-bottom : 20px;
}

#view-event #event-details .divider {
  width            : 50px;
  height           : 1px;
  margin           : 10px auto;
  background-color : #534d93;
}

#view-event #artist-line-up #services-collapsible {
  box-shadow : none;
}

#view-event #artist-line-up #services-collapsible .dropdown-icon {
  height     : 15px;
  float      : right;
  margin-top : 10px;
}

#view-event #artist-line-up #services-collapsible .artist-name {
  color       : #534d93;
  color       : #333;
  font-family : "OpenSans-SemiBold";
}

#view-event #artist-line-up #services-collapsible .expand-service {
  padding : 10px;
}

#view-event #artist-line-up .equipment * {
  vertical-align : middle;
}

#view-event #artist-line-up .equipment-icon {
  height : 35px;
}

#view-event #artist-applied,
#view-event #invited-artists {
  padding : 10px 20px;
}

@media
  only screen
  and (min-width : 993px) {
  #view-event #artist-applied,
  #view-event #invited-artists {
    padding : 40px;
  }
}

#view-event #artist-applied .view-profile-btn,
#view-event #invited-artists .view-profile-btn {
  text-transform : none;
}

#view-event #artist-applied .label,
#view-event #invited-artists .label {
  color       : #7f7f7f;
  font-family : "OpenSans-SemiboldItalic";
}

#view-event #artist-applied .artist-applied-card .performance-time,
#view-event #artist-applied .invited-artist-card .performance-time,
#view-event #invited-artists .artist-applied-card .performance-time,
#view-event #invited-artists .invited-artist-card .performance-time {
  color            : #FFF;
  overflow         : hidden;
  background-color : #534d93;
  font-family      : "OpenSans-Light";
}

#view-event .row {
  margin : 0;
}

#view-event .label {
  margin-top  : 10px;
  color       : #534d93;
  font-family : "OpenSans-SemiBold";
}

#view-event .label * {
  vertical-align : middle;
}

#view-event .big-label {
  font-size : 1.15rem;
}

#view-event .bullet-symbol {
  margin-right : 5px;
  color        : #534d93;
  font-size    : 2rem;
}

#requests {
  margin : 20px 5%;
}

#requests .no-requests {
  padding   : 20px 0;
  color     : #7f7f7f;
  font-size : 1.25rem;
}

#requests .request-card {
  position : relative;
}

#requests .request-card .performance-time {
  color            : #FFF;
  overflow         : hidden;
  background-color : #534d93;
  font-family      : "OpenSans-Light";
}

#requests .request-card .event-title {
  font-family : "OpenSans-SemiBold";
  font-size   : 1.15rem;
}

#requests .request-card .event-venue {
  margin-top : 5px;
  font-size  : 0.85rem;
}

#requests .request-card .event-venue a {
  color          : #534d93;
  text-transform : none;
}

#requests .request-card .event-icon {
  position : absolute;
  top      : 10px;
  left     : 10px;
}

#requests .request-card .pay-to-play-icon {
  position : absolute;
  top      : 10px;
  right    : 10px;
}

#requests .icon {
  height : 30px;
}

#requests .artist-applied-total {
  color : #ef6b24;
}

#requests .artist-applied-total * {
  vertical-align : middle;
}

#requests .artist-applied-total img {
  margin-right : 5px;
}

#payment {
  margin : 0;
}

@media
  only screen
  and (min-width : 993px) {
  #payment {
    margin : 20px 5%;
  }
}

#payment .title {
  overflow    : hidden;
  font-family : "OpenSans-SemiBold";
  font-size   : 1.5rem;
}

#payment .title img {
  height       : 25px;
  margin-right : 20px;
}

#payment .title *,
#payment .title span {
  vertical-align : middle;
}

#payment #payment-navigation {
  padding : 0;
}

#payment #payment-navigation a {
  color          : #333;
  text-transform : none;
  font-family    : "OpenSans-SemiBold";
  letter-spacing : normal;
}

#payment #payment-navigation .indicator {
  height           : 4px;
  background-color : #534d93;
}

#pay-ourscene {
  margin : 0;
}

@media
  only screen
  and (min-width : 993px) {
  #pay-ourscene {
    margin : 20px 5%;
  }
}

#pay-ourscene .title {
  overflow    : hidden;
  font-family : "OpenSans-SemiBold";
  font-size   : 1.5rem;
}

#pay-ourscene .title img {
  height       : 25px;
  margin-right : 20px;
}

#pay-ourscene .title *,
#pay-ourscene .title span {
  vertical-align : middle;
}

#pay-ourscene #pay-ourscene-container {
  padding : 20px;
}

#pay-ourscene #before-payment-message {
  margin-bottom : 40px;
}

#pay-ourscene #before-payment-message #pending-action {
  font-size : 1.5rem;
}

#pay-ourscene .payment-method {
  margin-bottom : 20px;
  color         : #534d93;
  font-size     : 1.25rem;
}

#settings {
  margin : 0;
}

@media
  only screen
  and (min-width : 993px) {
  #settings {
    margin : 20px 5%;
  }
}

#settings #account-info {
  padding : 0;
}

@media
  only screen
  and (min-width : 993px) {
  #settings #account-info {
    padding : 0 30px;
  }
}

#settings #account-info .section {
  padding : 30px 0;
}

#settings .profile-picture-preview {
  width       : 120px;
  height      : 120px;
  margin-left : 15px;
  padding     : 0;
}

#settings .reg-btn {
  padding       : 10px 40px;
  border-radius : 5px;
}

#settings .eqpmnt-table {
  margin-left : 2rem;
}

#settings .eqpmnt-table .default-col {
  width : 80px;
}

#settings .divider {
  width            : 50px;
  height           : 1px;
  margin           : 10px auto;
  background-color : #534d93;
}

#settings .long-divider {
  width            : 100%;
  height           : 1px;
  background-color : #e4e4e4;
}

#settings .label {
  margin-top  : 10px;
  color       : #534d93;
  font-family : "OpenSans-SemiBold";
}

#settings .label * {
  vertical-align : middle;
}

#settings .title {
  overflow    : hidden;
  font-family : "OpenSans-SemiBold";
  font-size   : 1.5rem;
}

#settings .title img {
  height       : 25px;
  margin-right : 20px;
}

#settings .title * {
  vertical-align : middle;
}

#settings .required-label {
  font-weight : bold;
}

#settings .required-label:after {
  content : ' *';
  display : inline;
  color   : #e32;
}

#settings .form-section {
  padding     : 20px 0;
  font-family : "OpenSans-SemiBold";
}

#settings .large-form-section {
  font-family : "OpenSans-SemiBold";
  font-size   : 1.5rem;
}

#settings .card-action {
  margin : 0;
}

#settings .file-btn {
  color : #46bfa7;
}

#settings .image-preview {
  height : 100px;
}

#settings .add-more-media-btn {}

#settings .remove-media-icon {
  z-index : 999;
  width   : 20px;
  height  : 20px;
}

#view-profile {
  margin : 0;
}

@media
  only screen
  and (min-width : 993px) {
  #view-profile {
    margin : 20px 5%;
  }
}

#view-profile #profile-container {
  padding : 10px 0 0;
}

#view-profile #profile-container img {
  height : 15px;
}

#view-profile #profile-container .profile-tab {
  padding : 0;
}

#view-profile #profile-container #profile-details {
  padding : 0;
}

#view-profile #profile-container #contacts {
  padding    : 20px 5px;
  font-size  : 0.8rem;
  word-break : break-all;
}

@media
  only screen
  and (min-width : 993px) {
  #view-profile #profile-container #contacts {
    font-size : 1rem;
  }
}

#view-profile #profile-container #profile-navigation {
  padding : 0;
}

#view-profile #profile-container #profile-navigation a {
  color          : #333;
  text-transform : none;
  font-family    : "OpenSans-SemiBold";
  letter-spacing : normal;
}

#view-profile #profile-container #profile-navigation .indicator {
  height           : 4px;
  background-color : #534d93;
}

#view-profile #profile-container #images-container img {
  width  : 120px;
  height : 120px;
}

#view-profile #profile-container #videos-container img {
  width  : 120px;
  height : 120px;
}

#view-profile #profile-container #equipment li:before {
  content : "• ";
  color   : #534d93;
}

#view-profile #profile-container #equipment-title {
  overflow    : hidden;
  font-family : "OpenSans-SemiBold";
  font-size   : 14px;
}

#view-profile #profile-container #equipment-title img {
  height       : 25px;
  margin-right : 5px;
}

#view-profile #profile-container #equipment-title * {
  vertical-align : middle;
}

#view-profile #songs-container .song-file-container {
  height           : 60px;
  border           : 1px solid #eaebeb;
  background-color : #f4f4f4;
}

#view-profile #songs-container .song-file-container .song-icon-container {
  display : inline-block;
  width   : 10%;
  height  : 60px;
}

#view-profile #songs-container .song-file-container .song-icon-container .song-icon {
  display   : inline-block;
  position  : relative;
  top       : 50%;
  transform : translateY(-50%);
}

#view-profile #songs-container .song-file-container .song-title-container {
  display : inline-block;
  width   : 60%;
  height  : 100%;
}

#view-profile #songs-container .song-file-container .song-title-container span {
  font-family    : "OpenSans-SemiBold";
  line-height    : 60px;
  letter-spacing : normal;
}

#view-profile #songs-container .song-file-container .time-display-container {
  display : inline-block;
  width   : 10%;
  height  : 60px;
}

#view-profile #songs-container .song-file-container .time-display-container span {
  position    : relative;
  top         : 50%;
  line-height : 14px;
  transform   : translateY(-50%);
}

#view-profile #songs-container .song-file-container .control-btn-container {
  display : inline-block;
  height  : 60px;
}

#view-profile #songs-container .song-file-container .control-btn-container button {
  width               : 35px;
  height              : 35px;
  padding             : 0;
  border              : none;
  background-color    : transparent;
  background-repeat   : no-repeat;
  background-position : center;
  background-size     : 75% 75%;
  transform           : translateY(35%);
}

@media
  only screen
  and (min-width : 480px) {
  #view-profile #songs-container .song-file-container .control-btn-container button {
    width     : 60px;
    height    : 60px;
    transform : none;
  }
}

#view-profile #songs-container .song-file-container .control-btn-container .playBtn {
  background-image : url('../images/icons/play.svg?1466082720');
}

#view-profile #songs-container .song-file-container .control-btn-container .pauseBtn {
  background-image : url('../images/icons/pause.svg?1466082720');
}

#view-profile #songs-container .song-file-container .control-btn-container .stopBtn {
  background-image : url('../images/icons/pause.svg?1466082720');
}

#view-profile .divider {
  width            : 50px;
  height           : 1px;
  margin           : 10px auto;
  background-color : #534d93;
}

#view-profile .row {
  margin : 0;
}

#view-profile .label {
  margin-top  : 10px;
  color       : #534d93;
  font-family : "OpenSans-SemiBold";
}

#view-profile .label * {
  vertical-align : middle;
}

#view-profile .bullet-symbol {
  margin-right : 5px;
  color        : #534d93;
  font-size    : 2rem;
}

#view-profile .contact-panel {
  margin-bottom : 20px;
}

#view-profile .profile-header {
  position         : relative;
  background-color : #272442;
}

#view-profile .profile-header .nav {
  position : absolute;
  top      : 0;
  width    : 100%;
  padding  : 10px 15px;
}

#view-profile .profile-header .info {
  padding : 60px 30px 15px;
}

#view-profile .profile-header span {
  margin-left : 15px;
  color       : #f6f6f6;
  font-size   : 18px;
}

#view-profile #calendar-container {
  margin  : 0;
  padding : 5%;
}

#view-profile #calendar-title-container {
  margin-bottom  : 30px;
  color          : #534d93;
  text-align     : center;
  text-transform : uppercase;
  font-size      : 1.5rem;
}

@media
  only screen
  and (min-width : 993px) {
  #view-profile #calendar-title-container {
    text-align : left;
    font-size  : 1.8rem;
  }
}

#view-profile #calendar-title-container * {
  vertical-align : middle;
}

#view-profile #calendar-title-container img {
  height       : 20px;
  margin-right : 10px;
}

#ourscene-tab-navigation-row {
  margin  : 0;
  padding : 0;
}

#ourscene-tab-navigation-row .col {
  padding : 0;
}

#ourscene-tab-navigation-row .col a {
  color          : #333;
  text-transform : none;
  font-family    : "OpenSans-SemiBold";
  letter-spacing : normal;
}

#ourscene-tab-navigation-row .col .indicator {
  height           : 4px;
  background-color : #534d93;
}

#search-results {
  padding : 0 5% 25px;
}

#search-results .title {
  overflow    : hidden;
  font-family : "OpenSans-SemiBold";
  font-size   : 1.5rem;
}

#search-results .title img {
  display: none;
}

#search-results .title * {
  vertical-align : middle;
}

#search-results #search-form {
  margin-top : 25px;
  padding    : 10px 15px;
}

@media
  only screen
  and (min-width : 993px) {
  #search-results #search-form {
    padding : 20px 25px;
  }
}

#search-results #search-form i {
  color : #fff;
}

#search-results #search-results-item {
  margin-top : 25px;
}

#search-results #search-results-item .content {
  padding : 0;
}

#search-results .profile-link {
  color          : #fff;
  text-transform : none;
}

#search-results .table-icon {
  height : 20px;
}

@media
  only screen
  and (min-width : 993px) {
  #search-results .table-icon {
    height : 25px;
  }
}

#search-results .profile-pic {
  width  : 40px;
  height : 40px;
}

@media
  only screen
  and (min-width : 993px) {
  #search-results .profile-pic {
    width  : 55px;
    height : 55px;
  }
}

#search-results table tr:not(:first-child) {
  border-top : 1px solid #e4e4e4;
}

#search-results table td {
  padding : 15px 10px;
}

@media
  only screen
  and (min-width : 993px) {
  #search-results table td {
    padding : 20px 10px;
  }
}

#search-results table .row {
  margin : 0;
}

#search-results table .col {
  margin-top    : 2px;
  margin-bottom : 2px;
}

#search-results table .col * {
  vertical-align : middle;
}

#search-results table .action a {
  margin-right : 5px;
  cursor       : pointer;
}

@media
  only screen
  and (min-width : 993px) {
  #search-results table .action a {
    margin-right : 20px;
  }
}

#search-results table .action a:last-child {
  margin : 0;
}

@media
  only screen
  and (min-width : 993px) {
  #search-results table .action a.l-display-only {
    display : inline-block;
  }
}

.search_user_name {
  font-size : 1.5rem;
}

.search-table-row .search-table-row-element {
  height : 100%;
}

#add-house-equipments-modal [id^="house-equipment-info-"] {
  display : none;
}

#confirm-request-for-service-modal [id^="house-equipment-info-"],
#confirm-request-for-service-modal [id^="house-equipment-with-trashed-info-"],
#edit-artist-lineup-equipment-modal [id^="house-equipment-info-"],
#edit-artist-lineup-equipment-modal [id^="house-equipment-with-trashed-info-"],
#request-for-performance-modal [id^="house-equipment-info-"],
#request-for-performance-modal [id^="house-equipment-with-trashed-info-"] {
  display : none;
}

#confirm-request-for-service-modal .section-title,
#edit-artist-lineup-equipment-modal .section-title,
#request-for-performance-modal .section-title {
  margin-bottom : 30px;
  color         : #534d93;
  font-family   : "OpenSans-SemiBold";
}

#confirm-request-for-service-modal .add-icon,
#confirm-request-for-service-modal .remove-icon,
#edit-artist-lineup-equipment-modal .add-icon,
#edit-artist-lineup-equipment-modal .remove-icon,
#request-for-performance-modal .add-icon,
#request-for-performance-modal .remove-icon {
  height : 25px;
  cursor : pointer;
}

#confirm-request-for-service-modal #add-equipments-table td:first-child,
#edit-artist-lineup-equipment-modal #add-equipments-table td:first-child,
#request-for-performance-modal #add-equipments-table td:first-child {
  width         : 90%;
  border-bottom : 1px solid #9E9E9E;
}

#artist-genre-modal #genre-collapsible {
  padding : 0;
}

#artist-genre-modal label {
  font-family : "OpenSans-Regular";
}

.btn {
  font-size : 10px;
}

@media
  only screen
  and (min-width : 768px) {
  .btn {
    font-size : 12px;
  }
}

input:not([type]):not([readonly]),
input[type=date]:not([readonly]),
input[type=datetime-local]:not([readonly]),
input[type=datetime]:not([readonly]),
input[type=email]:not([readonly]),
input[type=number]:not([readonly]),
input[type=password]:not([readonly]),
input[type=search]:not([readonly]),
input[type=tel]:not([readonly]),
input[type=text]:not([readonly]),
input[type=time]:not([readonly]),
input[type=url]:not([readonly]),
textarea.materialize-textarea:not([readonly]) {
  border-bottom : 1px solid #9e9e9e;
  box-shadow    : initial;
}

input:not([type]):focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom : 1px solid #9e9e9e;
  box-shadow    : initial;
}

.input-field label,
.input-field label.active {
  color       : #333;
  font-family : "OpenSans-SemiBold";
  font-size   : 1rem;
}

.input-field input:not([type]):focus+label,
.input-field input[type=date]:focus+label,
.input-field input[type=datetime-local]:focus+label,
.input-field input[type=datetime]:focus+label,
.input-field input[type=email]:focus+label,
.input-field input[type=number]:focus+label,
.input-field input[type=password]:focus+label,
.input-field input[type=search]:focus+label,
.input-field input[type=tel]:focus+label,
.input-field input[type=text]:focus+label,
.input-field input[type=time]:focus+label,
.input-field input[type=url]:focus+label,
.input-field textarea.materialize-textarea:focus+label {
  color : #333;
}

button:focus,
button:hover {
  outline : 0;
}
